* {
    margin: 0px;
    padding: 0px;
}

html {
    scrollbar-width: 3px;
    scrollbar-color: #c0c0c0 initial;
}

::-webkit-scrollbar {
    width: 3px;
    height: 3px;
}

::-webkit-scrollbar-thumb {
    background-color: #808080;
    border-radius: 1.5px;
}

::-webkit-scrollbar-track {
    background-color: initial;
}

a {
    text-decoration: none;
    color: #fffafa;
}

body {
    height: 100vh;
    overflow: hidden;
}

header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f1f3f4;
    height: calc(15vh - 1px);
    font-weight: 900;
    font-family: fangsong;
    box-shadow: 0 3px 10px #000;
    z-index: 1;
}

header .left {
    display: flex;
    height: 100%;
    width: 90vw;
    overflow: hidden;
    justify-content: center;
    align-items: center;
}

#nav-phone {
    display: none;
    float: right;
    height: 8vh;
}

#nav-phone img {
    height: 100%
}

#content {
    display: flex;
    width: 100vw;
    height: 85vh;
    position: absolute;
    bottom: 0;
    left: 0;
}

nav {
    display: inline-block;
    height: 100%;
    width: calc(20vw - 1px);
    background-color: #383838;
}

nav a {
    display: block;
    font-family: weiruanyahei;
    color: #c0c0c0;
    font-size: 1.5em;
    line-height: calc((85vh - 2px) / 6);
    text-align: center;
    height: calc((100% - 2px) / 6);
    background-color: #282828;
    transition: background-color .2s linear;
    border-right: 1px solid #303030;
}

nav a:hover {
    background-color: #383838;
}

#dark-bg-nav {
    display: none;
    background-color: #00000080;
    height: 100vh;
    width: 55%;
    position: fixed;
    top: 0;
    left: 0;
}

#main {
    display: inline-block;
    background-color: #303030;
    color: silver;
    align-self: stretch;
    height: calc(100% - 2em);
    width: 80vw;
    padding: 1em;
    overflow: auto;
}

#main>h1 {
    text-align: center;
}

#main>h2 {
    margin-top: 1em;
}

@media screen and (max-width: 600px) {
    nav {
        display: none;
        position: fixed;
        top: 0;
        right: 0;
        width: 45%;
        height: 100vh;
    }

    #main {
        width: 100vw;
    }

    #nav-phone {
        display: block;
    }

    header {
        font-size: smaller;
    }

    header .left {
        justify-content: left;
    }
}


/* 
 * Miracle Studio
 * Tower Sir & Kind Sir
 */